@import './signin/signin.css';

html{
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1440px;
}
body{
  margin: 0;
}

img {
  max-width: 100%;
}

/**
 *清除滚动条影响
 */
html {
  overflow-y: scroll; /* for IE8 */
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
}
body {
  width: 100vw;
  overflow: hidden;
}

/**
*common class
*/
.nb-container{
  width: 1400px;
  margin: auto 60px;
}
.nb-content-container{
  width: 1300px;
  margin: auto;
}

