//global var
@body-bg-color: #f7f7f7;
@common-bg-color: #fff;

//signin
@si-color: #253a7e;
@si-input-label-color: #8d96b4;
@si-input-ph-color: #ccd0dd;
@si-buttom-common-color: #318bec;
//home
@home-wallet-copy-color: #318bec;
@home-table-color: #8992b0;
@home-table-sep-hover-color: #ecedf2;
@home-common-border-color: #d0d5e7;
//footer
@footer-color: #aaa;
//common mixin
.mixin-boxshadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 6px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}
.mixin-slidehover{
  color: @si-color;
  background: #e6e8ef;
}
//home plugin mixin
.home-common-bg{
  background: @common-bg-color;
  box-sizing: border-box;
  padding: 20px;
}
.home-common-title-font{
  font-size: 14px;
  color: #000;
  line-height: 14px;
}
.home-commom-data-font{
  font-size: 20px;
  line-height: 20px;
  color: @si-color;
}
.home-common-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.node-dot-style{
  content: '';
  width: 8px;height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  vertical-align: 1px;
}