.home-info-seperate{
  margin-top: 16px;
}

.home-component-position{
  position: relative;
}

.home-module-width{
  width: 20%;
}

.home-main-currency-plugin-width{
  width: 220px;
}

.home-wallet-currency-plugin-width{
  width: 262px;
}

.home-wallet-address-currency-plugin-width{
  width: 372px;
}

.home-wallet-tansfer-input-width{
  width: 420px;
}

.home-wallet-tablelist-height{
  height: 440px;
}

.home-node-block-plugin-width{
  width: 200px;
}

.home-node-tablelist-size{
  width: 455px;
  height: 390px;
}

.home-calculator-block-size{
  width: 455px;
  height: 100px;
}

.home-calculator-input-width{
  width: 230px;
}